
.nav a {
    margin: 10px; /* Add some spacing between the links if needed */
    text-decoration: none;
    color: #333; /* Set the color of the links */
    font-weight: bold; /* Make the font bold if desired */
    float: left;
}

#CS_logo {
    max-width: 100%;
    height: 70px;
    width: 500px;
}


.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    background-color: bisque;
    width: auto;
}

video {
    align-self: center;
    margin:auto;
}

.big_video_container {
    video {
        align-self: center;
        margin-left: 90px;
    }
}

.video_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
}

footer {
    background-color: bisque;
    color:#333;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-column h3 {
    font-size: 1.2em;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
  }
  
  .footer-column p,
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column a {
    color: #333;
    text-decoration: none;
    font-weight: 400;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }


.Bootstrapcamp {
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 35px;
    background-color: #949393;
}

.Undergradute {
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 35px;
    background-color: #949393;
}

.MPhil_MSc {
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 35px;
    background-color: #949393;
}

.PHD {
    padding-bottom: 40px;
    padding-top: 30px;
    padding-left: 35px;
    background-color: #949393;
    
}

.Bootstrap_row,
.Undergraduate_row,
.MPhil_Msc_row,
.PHD_row {
    background-color: #424242;
    padding-top: -30px;
    align-content: center;
}

row_heading a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color:#fff;
    padding-top: -10px;
    text-decoration: none;
    color: #fff;

} 

row heading a:hover {
color: burlywood;
}

p {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: -10px;
    margin-left: -15px;
    margin-right: 10px;
}

.phd_text {
    margin-top: 28px;
}

@media (max-width: 750px) {
    .element {
        width: 350px;
    }
}

@media (min-width: 750.02px) and (max-width:1000px) {
    .element {
        width: 450px;
    }
}

@media (min-width:100.02px) {
    .element {
        width: 600px;
    }
  }